.Noticias{
    padding-top: 50px;
    text-align: left;
}

.Noticias :hover{
    opacity: 90%;
}

.Noticias a{
    background-color: azure;
    color:slateblue;
    text-decoration: none;
    padding: 10px;
}

.Noticias a:hover{
    color:aquamarine;
    opacity: 80%;
}

.Noticias img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}